<h2>Панель администратора</h2>
<div class="form-group">
    <a class="btn btn-default" asp-controller="Products" asp-action="AddCar">Добавить модель</a>
</div>
<div class="form-group">
    <a class="btn btn-default" asp-controller="Products" asp-action="AddComplectation">Добавить комплектацию</a>
</div>
<div class="form-group">
    <a class="btn btn-default" asp-controller="Products" asp-action="AddManufacture">Добавить производителя</a>
</div>
<div class="form-group">
    <a class="btn btn-default" asp-controller="Products" asp-action="AddColor">Добавить цвет</a>
</div>
<div class="form-group">
    <a class="btn btn-default" asp-controller="Products" asp-action="AddFuelType">Добавить тип топлива</a>
</div>
<div class="form-group">
    <a class="btn btn-default" asp-controller="Products" asp-action="AddSeller">Добавить продавца</a>
</div>

